@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --container-8xl: 90rem;
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #F4FFF0;
  --color-green-100: #E5FFD9;
  --color-green-200: #CCFFB3;
  --color-green-300: #A3FF7A;
  --color-green-400: #65fe08;
  --color-green-500: #52E500;
  --color-green-600: #40CC00;
  --color-green-700: #309900;
  --color-green-800: #267700;
  --color-green-900: #1A5500;
  --color-green-950: #0D2E00;
}

:root {
  --ui-container: var(--container-8xl);
}
